<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список тарифов</title>
    
    <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/css/style.css" rel="stylesheet">
    <script src="../service/TariffService.js"></script>
    <script src="../controllers/TariffController.js"></script>    
    <script src="../service/AdminService.js"></script>
    <script src="../controllers/AdminController.js"></script>
        <script src="../service/ClientService.js"></script>
    <script src="../controllers/ClientController.js"></script>
    

    <script>
            function loginClick()
            {  
                var count=0;
                var conroller = new AdminController(); 
                var count = conroller.authentication();
                var login = document.form.inputlogin.value;
                var pass = document.form.inputpass.value;
                if(count==1)
                {
                    document.cookie = "login=" + login+";path=/";
                    document.cookie = "password=" + pass+";path=/"; 
                }
                else if((login=="")||(pass=="")){alert("Введите логин и пароль!");}
                else{alert("Вход не выполнен. Проверьте введенные данные!");}
            }
            function logoutClick()
            {
               document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
                location.reload();                
            }
        </script>
    
    
    <style type="text/css">
    * { padding:0px; margin:0px; outline:none; }
    html,body { width:100%; height:100%; color:#000; font:11px arial; text-align:left; }
    .clr { position:relative; display:block; height:0%; clear:both; }
    .writter { width:100%; height:100%; min-width:1000px; }
    .header { background:url('') no-repeat #894634; width:100%; height:100px; }
    .content { width:100%; clear:both; }
    .block-l { background:url('') no-repeat #002137; float:left; width:20%; min-height:700px; text-align:left; }
    .block-r { background:url('') no-repeat #f0ffff; float:right; width:80%; min-height:700px; 
       text-align:left; padding: 3%; color: #051f35;font-size: 140%;}
    .footer { background:url('') no-repeat #343434; height:80px; line-height:120px; font-size:14px;
}
    </style> 
  </head>
  
 
  <body>
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                  </button>
              <a class="navbar-brand" href="../index.html">BookingGym</a>
            </div>              
            <form role="form" name="form" id="form"  style = "visibility:hidden;">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-form navbar-right" role="search" id="logBut">
                       <input style="width: 100px; height: 30px;" type="text" class="form-control" name = "inputlogin" id="inputlogin"/>
                       <input style="width: 100px; height: 30px;" type="password" class="form-control" name = "inputpass" id="inputpass"/>
                       <input onclick="loginClick()" type = "submit" class="btn btn-default" value="Войти" style="background-color: #ddd;"/>
                </div>
            </div>
            </form>
      </div>
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    


<div class="writter" align="center">
<div class="clr"></div>

<div class="content">
<div class="block-l">

                                    <ul class="nav" id = "ulmua">
                                        <li>
                                            <a href="/BookingGym/view/tariffs.html">Тарифы</a>
                                        </li>
                                        <li>
                                            <a href="/BookingGym/index.html">Забронировать</a>
                                        </li>
                                        <li>
                                            <a href="/BookingGym/view/info.html">О Нас</a>
                                        </li>
                                    </ul>
                                
</div>
<div id = "client" class="block-r">Нет связи с БД</div>
</div>
<div class="footer">
Авторы
</div>
</div>
        
        <script src="../lib/js/jquery.min.js"></script>
        <script src="..lib/js/bootstrap.min.js"></script>
        <script>
        window.onload = function () 
        {
                var clientView =document.getElementById("client");
                var result="";
                clientView.innerHTML = "Нет связи с бд";
                var  controller = new ClientController();
                controller.getAllClientViewList();
                alert("getAllClientViewList+");

                document.form.inputlogin.value = "";
                document.form.inputpass.value= "";


                var login = getCookie("login");
                var pass = getCookie("password");

                if (login != undefined){
                    document.form.inputlogin.value = login;
                    document.form.inputpass.value = pass;
                    var conroller = new AdminController(); 
                    var count = conroller.authentication();
                    if (count == 1)
                    {
                            var outView=document.getElementById("logBut");
                            outView.innerHTML = "<input onclick='logoutClick()' type='submit' class='btn btn-default' \n\
                                value='Выйти' style='background-color: #eee;'/>";
                
                            var e = document.getElementById("ulmua");
                            var newLi = document.createElement('li');
                            newLi.innerHTML = "<a href='/BookingGym/view/clients.html'>Клиенты</a>";
                            e.appendChild(newLi);
                    }
                 }
                  document.getElementById("form").style.visibility = 'visible';
        }
                function getCookie(name) {
                var matches = document.cookie.match(new RegExp(
                  "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            };  
        </script>     
</body>
</html>