
<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>
    
    <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/css/style.css" rel="stylesheet">
    <link href="../lib/css/signin.css" rel="stylesheet">
    <script src="../service/CategoryService.js"></script>
    <script src="../controllers/CategoryController.js"></script>
    <script src="../service/NewsService.js"></script>
    <script src="../controllers/NewsController.js"></script>
    <script>
        function autorizationClick()
        {
          
        }
    </script>
  </head>

  <body>
    <div class="container">
      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Авторизация</h2>
        <input type="text" class="form-control" placeholder="Логин" required autofocus>
        <input type="password" class="form-control" placeholder="Пароль" required>
        <button onclick="autorizationClick()" class="btn btn-lg btn-primary btn-block">Авторизация</button>
      </form>
    </div> 


    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <script>
    $(window).load(function () 
    {
        
    });    
    </script>
  </body>
</html>